body {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

.leftside {
  border: 2px solid black;
  background-color: #fff;
  width: 288px;
  height: 559px;
}

.rightside
{
    width: 557px;
    height: 515px;
    background-color: seashell black;
    border: 2px solid red;
    border-radius: 8px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #938561;
  width: 100vh;
}


.logo {
  text-align: center;
  margin-bottom: 50px;
}


.logo img {
  width: 100px;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.rightside
{
    background-color: #393646; 
}

.login-form {
 
  padding: 20px;
  border: solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input{
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100px;
  padding: 8px;
  border-radius: 3px;
}

.form-group .login-btn {
  margin-top: 10px;
}

.login-btn
{
    width: 342px;
    height: 53px;
}

.form-group .login-btn input[type="submit"] 
{
  background-color: #938561;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
